---
const alumni = [
    {
        name: "Aadi",
        year: "2024"
    },
    {
        name: "Tyler",
        year: "2024"
    },
    {
        name: "Haley",
        year: "2024"
    }
];
---

<div>
    {alumni.map((alumni) => <div>{alumni.name}</div>)}
</div>
